HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn
!**/src/main/**/target/
!**/src/test/**/target/
uploads/
serviceAccountKey.json
audio-bea-firebase.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### Mac Files ###
.DS_Store/
!**/.DS_Store/

### Properties & SQL Files ###
*.properties
*.sql